@import "tailwindcss";

@theme {
  --color-bg-main: #f1f5f9;
  --color-sidebar-bg: #1e293b;
  --color-card-bg: #ffffff;
  --color-text-primary: #0f172a;
  --color-text-secondary: #64748b;
  --color-accent-blue: #2563eb;
  --color-accent-green: #10b981;
  --color-border-color: #e2e8f0;
}

@layer base {
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.2);
  }
}

body {
  background-color: var(--color-bg-main);
  color: var(--color-text-primary);
}